

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans JP", sans-serif;
    overflow-x: hidden;
}

.backgroundpic{
    background-image: url('./img/bg.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}



.headingdiv{
    padding-inline: 70px;
    padding-block: 20px;
}

.headingdiv h1{
    color: #fff;
    font-size: 90px;
    font-weight: 400;
    padding-inline: 70px;
    letter-spacing: 10px;
}


.imgmaindiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 50px;
}


.mainbgcolordiv{
    background-color: #2C2C2C;
    padding-block: 50px;
}

.imgmaindiv img{
    width: 200px;
}


.threestagmaindiv{
    padding-left: 200px;
}


.threestagmaindiv h2{
    font-size: 50px;
    letter-spacing: 5px;
    color: #fff;
}


.threestagmaindiv span{
    color: #FFBB00;
}

#secspan{
    color: #fff;
    padding-left: 200px;
}


.mainmanimgdiv{
    padding-block: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}



.mainmanimgdiv img{
    width: 300px;
}


/* card div */


.maincarddiv{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 50px;
}


.cardmaindiv{
background-color:  #A5A5A5;
width: 29.5%;
}
   
.cardmaindiv img{
    width: 380px;
}

.cardcontent{
    padding-inline: 20px;
    padding-block: 20px;
}


.cardmaindiv h2{
    color: #FFC400;
}

.cardmaindiv p{
    color: #fff;
    padding-top: 20px;
    font-size: 18px;
}


.currectmaindivtext{
    text-align: center;
}

.currectmaindivtext h1{
    color: #fff;
    font-size: 40px;
}


.mainpaddingdiv{
    padding-inline: 120px;
}

.stepsmaindiv{
    margin-block: 45px;
    background-color: #FFD403;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: left;
}

.steppdiv{
    text-align: center;
    font-size: 22px;
    color: #fff;
    letter-spacing: 5px;
}


.charactertextdiv{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.charactertextdiv h1{
    color: #fff;
    font-size: 40px;
}




@media screen and (max-width:500px) {
    .headingdiv h1{
        padding-inline: 0px;
       
            padding-top: 50px;
            color: #fff;
            font-size: 55px;
         
        
    }

    .threestagmaindiv {
        padding-left: 20px;
    }
    .cardmaindiv {
        background-color: #A5A5A5;
        width: 89%;
      
    }

    .threestagmaindiv h2 {
        font-size: 27px;
      
    }

    #secspan {
        color: #fff;
        padding-left: 24px;
    }

    .mainpaddingdiv {
        padding-inline: 20px;
    }

    .stepsmaindiv {
        font-size: 20px;
    }

    .steppdiv {
        font-size: 18px;
    }

    .charactertextdiv h1{
        color: #fff;
        font-size: 26px;
    }

    
.currectmaindivtext h1{
    color: #fff;
    font-size: 26px;
}
    
}