

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans JP", sans-serif;
    overflow-x: hidden;
}


html{
    overflow-x: hidden;
}

.backgroundpic{
    background-image: url('./img/bg.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}



.headingdiv{
    padding-inline: 70px;
    padding-block: 20px;
}

.headingdiv h1{
    color: #fff;
    font-size: 90px;
    font-weight: 400;
    padding-inline: 70px;
    letter-spacing: 10px;
}


.imgmaindiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 50px;
}


.mainbgcolordiv{
    background-color: #2C2C2C;
    padding-block: 50px;
}

.imgmaindiv img{
    width: 200px;
}


.threestagmaindiv{
    padding-left: 200px;
}


.threestagmaindiv h2{
    font-size: 50px;
    letter-spacing: 5px;
    color: #fff;
}


.threestagmaindiv span{
    color: #FFBB00;
}

#secspan{
    color: #fff;
    padding-left: 200px;
}


.mainmanimgdiv{
    padding-block: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}



.mainmanimgdiv img{
    width: 300px;
}


/* card div */


.maincarddiv{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 50px;
}


.cardmaindiv{
background-color:  #A5A5A5;
width: min-content;
}
   
.cardmaindiv img{
    width: 382px;
}

.cardcontent{
    padding-inline: 20px;
    padding-block: 20px;
}


.cardmaindiv h2{
    color: #FFC400;
}

.cardmaindiv p{
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
}


.currectmaindivtext{
    text-align: center;
}

.currectmaindivtext h1{
    color: #fff;
    font-size: 40px;
}


.mainpaddingdiv{
    padding-inline: 120px;
}

.stepsmaindiv{
    margin-block: 45px;
    background-color: #FFD403;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: left;
}

.steppdiv{
    text-align: center;
    font-size: 22px;
    color: #fff;
    letter-spacing: 5px;
}


.charactertextdiv{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.charactertextdiv h1{
    color: #fff;
    font-size: 40px;
}


.maindivtable{
    display: flex;
    /* width: 70%; */
    flex-wrap: wrap;

    /* padding: 10px; */
    justify-content: center;
    margin-block: 50px;

}


.tableone{
    background-color: #BAD1E1;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    /* width: 40%; */
 
}
.tableone p{
    border-bottom: 1px solid #fff;
    padding: 10px;

}


.tabletwo{
    color: #1C689D;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    background-color: #fff;

 
}
.tabletwo p{
    border-bottom: 1px solid #BAD1E1;
    padding: 10px;
    font-size: 16px;
}


#threetablediv{
    border-left: 1px solid rgb(233, 229, 229);
    padding-left: 20px;
}


.futuredivtext{
    text-align: center;
}

.futuredivtext h5{
    color: #1C689D;
    background-color: #fff;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}


.cartdiv{
    padding-block: 50px;
    display: flex;
    justify-content: center;
}

.cartdiv img{
    width: 800px;
}


.bg2{
    background-image: url('./img/bg2.svg');
    height: 100vh;
    background-size: cover;
}

.bg2 h1{
    color: #FFD403;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    letter-spacing: 5px;
}


@media screen and (max-width:500px) {
    .headingdiv h1{
        padding-inline: 0px;
       
            padding-top: 50px;
            color: #fff;
            font-size: 55px;
         
        
    }

    .threestagmaindiv {
        padding-left: 20px;
    }
 .cardmaindiv img {
        width: 300px; /* Fixed width for small screens */
    }

    .threestagmaindiv h2 {
        font-size: 27px;
      
    }

    #secspan {
        color: #fff;
        padding-left: 24px;
    }

    .mainpaddingdiv {
        padding-inline: 20px;
    }

    .stepsmaindiv {
        font-size: 20px;
    }

    .steppdiv {
        font-size: 18px;
    }

    .charactertextdiv h1{
        color: #fff;
        font-size: 26px;
    }

    
.currectmaindivtext h1{
    color: #fff;
    font-size: 26px;
}



#threetablediv {
    border: none;
    padding-left: 0px;
}

.maindivtable {

    gap: 15px;
}

.cartdiv img {
    width: 300px;
}

.futuredivtext h5 {
    color: #1C689D;
    background-color: #fff;
    display: inline-block;
    padding: 11px;
    font-size: 16px;
    border-radius: 10px;
}
    
}